/* custom styles */

body {
  background-color:lighten(#ededed, 5%);
}

.navbar-brand {
  font-size:18px !important;
}



.main-flex-slider {
  h2 {
    color:#ffffff;
  }
}

.jumbotron {
  background-image:url('cardboard.jpg');
  background-size:cover;

  background-color:#fff;

  height:350px;
  color:#fff;
  box-shadow:inset 0px -30px 80px rgba(0,0,0,.8);
  #text-area {
    background-color:rgba(0,0,0,.7);
    padding:0 20px 20px 20px ;
  }
}

#home-content {
  min-height: 780px;
  overflow: none;
  background-color:#fff;
  margin-top:none;
}

#main-content {
  background-color:#fff;
  min-height:600px;
}

.graph {

  div {
    // height:300px !important;
    margin-bottom:40px;
    height:300px !important;


  }
  p {
    font-size:10px;

  }
}

.indicators {
  margin-bottom:20px;
}

.indicator-index {
  background-color:#fff;
  border-top:1px solid #dddddd;
  margin-top:-1px;
}

.tab-content {
  padding:30px 0px;
}

footer {
  
  border-top:8px solid lighten(#ededed, 4%);
  min-height:40px;
  padding:20px;
}
